/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  background: #FBF5F3;
}

.header {
  height: 48px;
  width: 85.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 2vh;
  border-bottom: solid 1px #32323c;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28vw;
  min-width: 300px;
}

.menu__item {
  letter-spacing: 1px;
}

@media (min-width: 920px) {
  .menu__item {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: #32323c;
  }
}

.menu__item:hover {
  color: #ce484a;
}

.menu__item--active {
  color: #ce484a;
}

.menu__split {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #32323c;
  height: 14px;
}

.logo {
  width: 104px;
}

.rightitems {
  width: 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 920px) {
  .rightitems {
    min-width: 300px;
  }
}

.rightitems .search {
  width: 15vw;
  border-bottom: solid #32323c 0.1px;
  margin-right: 20px;
}

.rightitems .search__text {
  width: 80%;
  min-width: 50px;
  height: 20px;
  background: #FBF5F3;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #32323c;
}

.rightitems .search__text :focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.rightitems .search__submit {
  float: right;
  width: 15px;
  height: 15px;
}

.rightitems__loginbtn {
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.8px;
}

@media (min-width: 920px) {
  .rightitems__loginbtn {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #32323c;
  }
}

@media (max-width: 919px) {
  .rightitems__loginbtn {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #32323c;
  }
}

.rightitems__signinbtn {
  padding: 0.2em 1em;
  border-radius: 0.2rem;
}

@media (min-width: 920px) {
  .rightitems__signinbtn {
    display: inline-block;
    border: solid #ce484a 1px;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #ce484a;
    letter-spacing: 0.5px;
  }
  .rightitems__signinbtn:hover {
    background: #ce484a;
    color: #fff;
  }
}

@media (max-width: 919px) {
  .rightitems__signinbtn {
    border: solid #ce484a 1px;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #ce484a;
  }
}

@media (min-width: 920px) {
  .secondheader {
    display: none;
  }
}

@media (max-width: 919px) {
  .menu--pc {
    display: none;
  }
  .search {
    display: none;
  }
  .secondheader {
    margin-top: 10px;
  }
  .secondheader .menu {
    width: 85.4vw;
    margin: 0 auto;
    font-size: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .menu--pc {
    display: none;
  }
  .search {
    display: none;
  }
  .secondheader {
    margin-top: 10px;
  }
  .secondheader .menu {
    width: 85.4vw;
    margin: 0 auto;
    font-size: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer {
  width: 100vw;
  text-align: center;
  background: #32323c;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #FBF5F3;
}

.footer__logo {
  width: 10vw;
}

.footer__copyright {
  font-size: 12px;
}

.menulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.medialist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 0 auto;
}

.medialist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vh;
  width: 3vh;
  border: solid #FBF5F3 0.2px;
  border-radius: 5rem;
}

.medialist__icon {
  height: 70%;
  width: 70%;
}
/*# sourceMappingURL=style.css.map */